body {
}
.LawyerSpeak {
    border-style: solid;
    border-color:black;
    border-width:3px;

}

.contact {
    height: 100%;
    border-style: solid;
    border-color: black;
    border-width:3px;
    vertical-align:text-bottom;
    padding-top: initial;
}
.content-body{

}