body {
}
.LawyerSpeak {
    border-style: solid;
    border-color:black;
    border-width:3px;

}
.contact {
    vertical-align: bottom;
    height: 100%;
    border-style: solid;
    border-color: black;
    border-width:3px;
}